<!DOCTYPE html>
<html>
  <head>
    <%- include('./includes/head.ejs') %>
  </head>
  <body>
    <%- include('./includes/nav.ejs') %>
    <div id="content">
      <span class="header">
        <h1>Success</h1>
        <p>You have added your bot to the list. Please wait for it to be verified.</p>
      </span>
      <a class="button" href="javascript:history.back()">Back</a>
      <a class="button" href="/">Home</a>
      <%- include('./includes/footer.ejs'); %>
    </div>
  </body>
</html>
