<!DOCTYPE html>
<head>
  <%- include('../includes/head.ejs') %>
</head>
<body>
  <%- include('../includes/nav.ejs') %>
  <div id="content">
    <div class="header">
        <h1>Error</h1>
        <p>User not found</p>
        <h4>Join the server <a target="_blank" href="/join">here</a></h4>
    </div>
    <%- include('../includes/footer.ejs'); %>
  </div>
</body>
